#[Member]
ETCD_NAME="{{ name }}"
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
ETCD_LISTEN_PEER_URLS="https://{{ inventory_hostname }}:2380"
ETCD_LISTEN_CLIENT_URLS="https://{{ inventory_hostname }}:2379"

#[Clustering]
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ inventory_hostname }}:2380"
ETCD_ADVERTISE_CLIENT_URLS="https://{{ inventory_hostname }}:2379"
ETCD_INITIAL_CLUSTER="etcd1=https://192.168.101.88:2380,etcd2=https://192.168.101.66:2380,etcd3=https://192.168.101.86:2380"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster"
ETCD_INITIAL_CLUSTER_STATE="new"
