[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
EnvironmentFile=/usr/local/kubernetes/cfg/etcd
ExecStart=/usr/local/kubernetes/bin/etcd \
--cert-file=/usr/local/kubernetes/ssl/etcd.pem \
--key-file=/usr/local/kubernetes/ssl/etcd-key.pem \
--peer-cert-file=/usr/local/kubernetes/ssl/etcd.pem \
--peer-key-file=/usr/local/kubernetes/ssl/etcd-key.pem \
--trusted-ca-file=/usr/local/kubernetes/ssl/ca.pem \
--peer-trusted-ca-file=/usr/local/kubernetes/ssl/ca.pem \
--client-cert-auth=true \
--peer-client-cert-auth=true
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
