
KUBELET_OPTS="--logtostderr=true \
--v=4 \
--address={{ node_ip }} \
--hostname-override={{ node_ip }} \
--kubeconfig=/usr/local/kubernetes/ssl/kubelet.kubeconfig \
--experimental-bootstrap-kubeconfig=/usr/local/kubernetes/ssl/bootstrap.kubeconfig \
--cert-dir=/usr/local/kubernetes/ssl \
--allow-privileged=true \
--cluster-dns=10.10.10.2 \
--cluster-domain=cluster.local \
--fail-swap-on=false \
--pod-infra-container-image=k8s.gcr.io/pause:3.1"

