KUBE_SCHEDULER_OPTS="--logtostderr=true \
  --address=127.0.0.1 \
  --kubeconfig=/usr/local/kubernetes/ssl/kube-scheduler.kubeconfig \
  --leader-elect=true \
  --alsologtostderr=true \
  --log-dir=/var/log/kubernetes \
  --v=4"
